/*this style sheet will contain styling for the movie list app*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
  background-image: url(images/movietheatre.jpg);
    background-size: 100%;
    font-family: sans-serif;
    color: #fff;
    letter-spacing: 1px;
}

/*page styling starts here*/

#wrapper
{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
}
#page-banner
{
    margin-top: 20px;
    text-align: center;
    border: 1px solid #fff;
    padding: 9px;
}
.movie-list, #add-movie
{
    background-color: #fff;
    color: #000;
}
.title
{
    padding: 10px 0 10px 15px;
}
.movie-list ul li
{
    list-style-type: none;
    margin-left: 21px;
    border-left: 3px solid lightgray;
    width: 96%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.movie-list ul li:hover
{
    border-left: 3px solid purple;
}
.delete
{
    align-items: right;
    color: #fff;
    padding: 5px;
    background-color: tomato;
    border-radius: 7px;
    cursor: pointer;
}
















